{% extends base['layout'] %}
{% block title %}Welcome To MYGA{% endblock %}
{% block header %}
    {% include "include/header/header1.html" %}
{% endblock %}
{% block nav %}
    {% include "include/nav/nav1.html" %}
{% endblock %}

{% block add_tab %}    {% endblock %}
{% block update_tab %} {% endblock %}
{% block delete_tab %} {% endblock %}
{% block view_tab %}   {% endblock %}

{% block footer %}
 <p>&copy; 2025 Ministry of Youth and Gender Affairs, Botswana. All rights reserved.</p>
{% endblock %}
