/*
Programmer Name : Oageng  Motlapele
Last Update date: June 1 2025 1842
Functionality : Responsiveness of the html element for all screen size between 1025px and 1440px in grid layout
*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .laptops-1{width: calc(1% - 1%);}
    .laptops-2{width: calc(2% - 1%);}
    .laptops-3{width: calc(3% - 1%);}
    .laptops-4{width: calc(4% - 1%);}
    .laptops-5{width: calc(5% - 1%);}
    .laptops-6{width: calc(6% - 1%);}
    .laptops-7{width: calc(7% - 1%);}
    .laptops-8{width: calc(8% - 1%);}
    .laptops-9{width: calc(9% - 1%);}
    .laptops-10{width: calc(10% - 1%);}
    .laptops-11{width: calc(11% - 1%);}
    .laptops-12{width: calc(12% - 1%);}
    .laptops-13{width: calc(13% - 1%);}
    .laptops-14{width: calc(14% - 1%);}
    .laptops-15{width: calc(15% - 1%);}
    .laptops-16{width: calc(16% - 1%);}
    .laptops-17{width: calc(17% - 1%);}
    .laptops-18{width: calc(18% - 1%);}
    .laptops-19{width: calc(19% - 1%);}
    .laptops-20{width: calc(20% - 1%);}
    .laptops-21{width: calc(21% - 1%);}
    .laptops-22{width: calc(22% - 1%);}
    .laptops-23{width: calc(23% - 1%);}
    .laptops-24{width: calc(24% - 1%);}
    .laptops-25{width: calc(25% - 1%);}
    .laptops-26{width: calc(26% - 1%);}
    .laptops-27{width: calc(27% - 1%);}
    .laptops-28{width: calc(28% - 1%);}
    .laptops-29{width: calc(29% - 1%);}
    .laptops-30{width: calc(30% - 1%);}
    .laptops-31{width: calc(31% - 1%);}
    .laptops-32{width: calc(32% - 1%);}
    .laptops-33{width: calc(33% - 1%);}
    .laptops-34{width: calc(34% - 1%);}
    .laptops-35{width: calc(35% - 1%);}
    .laptops-36{width: calc(36% - 1%);}
    .laptops-37{width: calc(37% - 1%);}
    .laptops-38{width: calc(38% - 1%);}
    .laptops-39{width: calc(39% - 1%);}
    .laptops-40{width: calc(40% - 1%);}
    .laptops-41{width: calc(41% - 1%);}
    .laptops-42{width: calc(42% - 1%);}
    .laptops-43{width: calc(43% - 1%);}
    .laptops-44{width: calc(44% - 1%);}
    .laptops-45{width: calc(45% - 1%);}
    .laptops-46{width: calc(46% - 1%);}
    .laptops-47{width: calc(47% - 1%);}
    .laptops-48{width: calc(48% - 1%);}
    .laptops-49{width: calc(49% - 1%);}
    .laptops-50{width: calc(50% - 1%);}
    .laptops-51{width: calc(51% - 1%);}
    .laptops-52{width: calc(52% - 1%);}
    .laptops-53{width: calc(53% - 1%);}
    .laptops-54{width: calc(54% - 1%);}
    .laptops-55{width: calc(55% - 1%);}
    .laptops-56{width: calc(56% - 1%);}
    .laptops-57{width: calc(57% - 1%);}
    .laptops-58{width: calc(58% - 1%);}
    .laptops-59{width: calc(59% - 1%);}
    .laptops-60{width: calc(60% - 1%);}
    .laptops-61{width: calc(61% - 1%);}
    .laptops-62{width: calc(62% - 1%);}
    .laptops-63{width: calc(63% - 1%);}
    .laptops-64{width: calc(64% - 1%);}
    .laptops-65{width: calc(65% - 1%);}
    .laptops-66{width: calc(66% - 1%);}
    .laptops-67{width: calc(67% - 1%);}
    .laptops-68{width: calc(68% - 1%);}
    .laptops-69{width: calc(69% - 1%);}
    .laptops-70{width: calc(70% - 1%);}
    .laptops-71{width: calc(71% - 1%);}
    .laptops-72{width: calc(72% - 1%);}
    .laptops-73{width: calc(73% - 1%);}
    .laptops-74{width: calc(74% - 1%);}
    .laptops-75{width: calc(75% - 1%);}
    .laptops-76{width: calc(76% - 1%);}
    .laptops-77{width: calc(77% - 1%);}
    .laptops-78{width: calc(78% - 1%);}
    .laptops-79{width: calc(79% - 1%);}
    .laptops-80{width: calc(80% - 1%);}
    .laptops-81{width: calc(81% - 1%);}
    .laptops-82{width: calc(82% - 1%);}
    .laptops-83{width: calc(83% - 1%);}
    .laptops-84{width: calc(84% - 1%);}
    .laptops-85{width: calc(85% - 1%);}
    .laptops-86{width: calc(86% - 1%);}
    .laptops-87{width: calc(87% - 1%);}
    .laptops-88{width: calc(88% - 1%);}
    .laptops-89{width: calc(89% - 1%);}
    .laptops-90{width: calc(90% - 1%);}
    .laptops-91{width: calc(91% - 1%);}
    .laptops-92{width: calc(92% - 1%);}
    .laptops-93{width: calc(93% - 1%);}
    .laptops-94{width: calc(94% - 1%);}
    .laptops-95{width: calc(95% - 1%);}
    .laptops-96{width: calc(96% - 1%);}
    .laptops-97{width: calc(97% - 1%);}
    .laptops-98{width: calc(98% - 1%);}
    .laptops-99{width: calc(99% - 1%);}
    .laptops-100{width: calc(100% - 1%);}
}