/*
Programmer Name : Oageng  Motlapele
Last Update date: June 1 2025 1842
Functionality : Responsiveness of the html element for all screen size less than 480px
                in grid layout
*/
@media (max-width: 480px) {
    .mobiles-1{width: 1%;}
    .mobiles-2{width: 2%;}
    .mobiles-3{width: 3%;}
    .mobiles-4{width: 4%;}
    .mobiles-5{width: 5%;}
    .mobiles-6{width: 6%;}
    .mobiles-7{width: 7%;}
    .mobiles-8{width: 8%;}
    .mobiles-9{width: 9%;}
    .mobiles-10{width: 10%;}
    .mobiles-11{width: 11%;}
    .mobiles-12{width: 12%;}
    .mobiles-13{width: 13%;}
    .mobiles-14{width: 14%;}
    .mobiles-15{width: 15%;}
    .mobiles-16{width: 16%;}
    .mobiles-17{width: 17%;}
    .mobiles-18{width: 18%;}
    .mobiles-19{width: 19%;}
    .mobiles-20{width: 20%;}
    .mobiles-21{width: 21%;}
    .mobiles-22{width: 22%;}
    .mobiles-23{width: 23%;}
    .mobiles-24{width: 24%;}
    .mobiles-25{width: 25%;}
    .mobiles-26{width: 26%;}
    .mobiles-27{width: 27%;}
    .mobiles-28{width: 28%;}
    .mobiles-29{width: 29%;}
    .mobiles-30{width: 30%;}
    .mobiles-31{width: 31%;}
    .mobiles-32{width: 32%;}
    .mobiles-33{width: 33%;}
    .mobiles-34{width: 34%;}
    .mobiles-35{width: 35%;}
    .mobiles-36{width: 36%;}
    .mobiles-37{width: 37%;}
    .mobiles-38{width: 38%;}
    .mobiles-39{width: 39%;}
    .mobiles-40{width: 40%;}
    .mobiles-41{width: 41%;}
    .mobiles-42{width: 42%;}
    .mobiles-43{width: 43%;}
    .mobiles-44{width: 44%;}
    .mobiles-45{width: 45%;}
    .mobiles-46{width: 46%;}
    .mobiles-47{width: 47%;}
    .mobiles-48{width: 48%;}
    .mobiles-49{width: 49%;}
    .mobiles-50{width: 50%;}
    .mobiles-51{width: 51%;}
    .mobiles-52{width: 52%;}
    .mobiles-53{width: 53%;}
    .mobiles-54{width: 54%;}
    .mobiles-55{width: 55%;}
    .mobiles-56{width: 56%;}
    .mobiles-57{width: 57%;}
    .mobiles-58{width: 58%;}
    .mobiles-59{width: 59%;}
    .mobiles-60{width: 60%;}
    .mobiles-61{width: 61%;}
    .mobiles-62{width: 62%;}
    .mobiles-63{width: 63%;}
    .mobiles-64{width: 64%;}
    .mobiles-65{width: 65%;}
    .mobiles-66{width: 66%;}
    .mobiles-67{width: 67%;}
    .mobiles-68{width: 68%;}
    .mobiles-69{width: 69%;}
    .mobiles-70{width: 70%;}
    .mobiles-71{width: 71%;}
    .mobiles-72{width: 72%;}
    .mobiles-73{width: 73%;}
    .mobiles-74{width: 74%;}
    .mobiles-75{width: 75%;}
    .mobiles-76{width: 76%;}
    .mobiles-77{width: 77%;}
    .mobiles-78{width: 78%;}
    .mobiles-79{width: 79%;}
    .mobiles-80{width: 80%;}
    .mobiles-81{width: 81%;}
    .mobiles-82{width: 82%;}
    .mobiles-83{width: 83%;}
    .mobiles-84{width: 84%;}
    .mobiles-85{width: 85%;}
    .mobiles-86{width: 86%;}
    .mobiles-87{width: 87%;}
    .mobiles-88{width: 88%;}
    .mobiles-89{width: 89%;}
    .mobiles-90{width: 90%;}
    .mobiles-91{width: 91%;}
    .mobiles-92{width: 92%;}
    .mobiles-93{width: 93%;}
    .mobiles-94{width: 94%;}
    .mobiles-95{width: 95%;}
    .mobiles-96{width: 96%;}
    .mobiles-97{width: 97%;}
    .mobiles-98{width: 98%;}
    .mobiles-99{width: 99%;}
    .mobiles-100{width: 100%;}
}