/*
Programmer Name : Oageng  Motlapele
Last Update date: June 1 2025 1842
Functionality : Responsiveness of the html element for all screen size between 481 and 1024
                in grid layout
*/
@media (min-width: 481px) and (max-width: 1024px) {
    .tablets-1{width: 1%;}
    .tablets-2{width: 2%;}
    .tablets-3{width: 3%;}
    .tablets-4{width: 4%;}
    .tablets-5{width: 5%;}
    .tablets-6{width: 6%;}
    .tablets-7{width: 7%;}
    .tablets-8{width: 8%;}
    .tablets-9{width: 9%;}
    .tablets-10{width: 10%;}
    .tablets-11{width: 11%;}
    .tablets-12{width: 12%;}
    .tablets-13{width: 13%;}
    .tablets-14{width: 14%;}
    .tablets-15{width: 15%;}
    .tablets-16{width: 16%;}
    .tablets-17{width: 17%;}
    .tablets-18{width: 18%;}
    .tablets-19{width: 19%;}
    .tablets-20{width: 20%;}
    .tablets-21{width: 21%;}
    .tablets-22{width: 22%;}
    .tablets-23{width: 23%;}
    .tablets-24{width: 24%;}
    .tablets-25{width: 25%;}
    .tablets-26{width: 26%;}
    .tablets-27{width: 27%;}
    .tablets-28{width: 28%;}
    .tablets-29{width: 29%;}
    .tablets-30{width: 30%;}
    .tablets-31{width: 31%;}
    .tablets-32{width: 32%;}
    .tablets-33{width: 33%;}
    .tablets-34{width: 34%;}
    .tablets-35{width: 35%;}
    .tablets-36{width: 36%;}
    .tablets-37{width: 37%;}
    .tablets-38{width: 38%;}
    .tablets-39{width: 39%;}
    .tablets-40{width: 40%;}
    .tablets-41{width: 41%;}
    .tablets-42{width: 42%;}
    .tablets-43{width: 43%;}
    .tablets-44{width: 44%;}
    .tablets-45{width: 45%;}
    .tablets-46{width: 46%;}
    .tablets-47{width: 47%;}
    .tablets-48{width: 48%;}
    .tablets-49{width: 49%;}
    .tablets-50{width: 50%;}
    .tablets-51{width: 51%;}
    .tablets-52{width: 52%;}
    .tablets-53{width: 53%;}
    .tablets-54{width: 54%;}
    .tablets-55{width: 55%;}
    .tablets-56{width: 56%;}
    .tablets-57{width: 57%;}
    .tablets-58{width: 58%;}
    .tablets-59{width: 59%;}
    .tablets-60{width: 60%;}
    .tablets-61{width: 61%;}
    .tablets-62{width: 62%;}
    .tablets-63{width: 63%;}
    .tablets-64{width: 64%;}
    .tablets-65{width: 65%;}
    .tablets-66{width: 66%;}
    .tablets-67{width: 67%;}
    .tablets-68{width: 68%;}
    .tablets-69{width: 69%;}
    .tablets-70{width: 70%;}
    .tablets-71{width: 71%;}
    .tablets-72{width: 72%;}
    .tablets-73{width: 73%;}
    .tablets-74{width: 74%;}
    .tablets-75{width: 75%;}
    .tablets-76{width: 76%;}
    .tablets-77{width: 77%;}
    .tablets-78{width: 78%;}
    .tablets-79{width: 79%;}
    .tablets-80{width: 80%;}
    .tablets-81{width: 81%;}
    .tablets-82{width: 82%;}
    .tablets-83{width: 83%;}
    .tablets-84{width: 84%;}
    .tablets-85{width: 85%;}
    .tablets-86{width: 86%;}
    .tablets-87{width: 87%;}
    .tablets-88{width: 88%;}
    .tablets-89{width: 89%;}
    .tablets-90{width: 90%;}
    .tablets-91{width: 91%;}
    .tablets-92{width: 92%;}
    .tablets-93{width: 93%;}
    .tablets-94{width: 94%;}
    .tablets-95{width: 95%;}
    .tablets-96{width: 96%;}
    .tablets-97{width: 97%;}
    .tablets-98{width: 98%;}
    .tablets-99{width: 99%;}
    .tablets-100{width: 100%;}
}