/*
Programmer Name : Oageng  Motlapele
Last Update date: June 1 2025 1842
Functionality : Responsiveness of the html element for all screen size above 1440px in grid layout
*/
@media (min-width: 1441px) {
    .tvs-1{width: 1%;}
    .tvs-2{width: 2%;}
    .tvs-3{width: 3%;}
    .tvs-4{width: 4%;}
    .tvs-5{width: 5%;}
    .tvs-6{width: 6%;}
    .tvs-7{width: 7%;}
    .tvs-8{width: 8%;}
    .tvs-9{width: 9%;}
    .tvs-10{width: 10%;}
    .tvs-11{width: 11%;}
    .tvs-12{width: 12%;}
    .tvs-13{width: 13%;}
    .tvs-14{width: 14%;}
    .tvs-15{width: 15%;}
    .tvs-16{width: 16%;}
    .tvs-17{width: 17%;}
    .tvs-18{width: 18%;}
    .tvs-19{width: 19%;}
    .tvs-20{width: 20%;}
    .tvs-21{width: 21%;}
    .tvs-22{width: 22%;}
    .tvs-23{width: 23%;}
    .tvs-24{width: 24%;}
    .tvs-25{width: 25%;}
    .tvs-26{width: 26%;}
    .tvs-27{width: 27%;}
    .tvs-28{width: 28%;}
    .tvs-29{width: 29%;}
    .tvs-30{width: 30%;}
    .tvs-31{width: 31%;}
    .tvs-32{width: 32%;}
    .tvs-33{width: 33%;}
    .tvs-34{width: 34%;}
    .tvs-35{width: 35%;}
    .tvs-36{width: 36%;}
    .tvs-37{width: 37%;}
    .tvs-38{width: 38%;}
    .tvs-39{width: 39%;}
    .tvs-40{width: 40%;}
    .tvs-41{width: 41%;}
    .tvs-42{width: 42%;}
    .tvs-43{width: 43%;}
    .tvs-44{width: 44%;}
    .tvs-45{width: 45%;}
    .tvs-46{width: 46%;}
    .tvs-47{width: 47%;}
    .tvs-48{width: 48%;}
    .tvs-49{width: 49%;}
    .tvs-50{width: 50%;}
    .tvs-51{width: 51%;}
    .tvs-52{width: 52%;}
    .tvs-53{width: 53%;}
    .tvs-54{width: 54%;}
    .tvs-55{width: 55%;}
    .tvs-56{width: 56%;}
    .tvs-57{width: 57%;}
    .tvs-58{width: 58%;}
    .tvs-59{width: 59%;}
    .tvs-60{width: 60%;}
    .tvs-61{width: 61%;}
    .tvs-62{width: 62%;}
    .tvs-63{width: 63%;}
    .tvs-64{width: 64%;}
    .tvs-65{width: 65%;}
    .tvs-66{width: 66%;}
    .tvs-67{width: 67%;}
    .tvs-68{width: 68%;}
    .tvs-69{width: 69%;}
    .tvs-70{width: 70%;}
    .tvs-71{width: 71%;}
    .tvs-72{width: 72%;}
    .tvs-73{width: 73%;}
    .tvs-74{width: 74%;}
    .tvs-75{width: 75%;}
    .tvs-76{width: 76%;}
    .tvs-77{width: 77%;}
    .tvs-78{width: 78%;}
    .tvs-79{width: 79%;}
    .tvs-80{width: 80%;}
    .tvs-81{width: 81%;}
    .tvs-82{width: 82%;}
    .tvs-83{width: 83%;}
    .tvs-84{width: 84%;}
    .tvs-85{width: 85%;}
    .tvs-86{width: 86%;}
    .tvs-87{width: 87%;}
    .tvs-88{width: 88%;}
    .tvs-89{width: 89%;}
    .tvs-90{width: 90%;}
    .tvs-91{width: 91%;}
    .tvs-92{width: 92%;}
    .tvs-93{width: 93%;}
    .tvs-94{width: 94%;}
    .tvs-95{width: 95%;}
    .tvs-96{width: 96%;}
    .tvs-97{width: 97%;}
    .tvs-98{width: 98%;}
    .tvs-99{width: 99%;}
    .tvs-100{width: 100%;}
}