<div class="grid background-dark">
    <div class="mobiles-100 tablets-100 laptops-75 tvs-100">
        <marquee >
            <strong class="gradient-text" >
                Ministry of Youth And Gender Affairs (MYGA)
            </strong>
        </marquee>
    </div>
    <div class="mobiles-display-none tablets-none laptops-25 tvs-25 text-align-right ">

        <a  title="Vist our Facebook page for news" href="http://facebook.com/bwmyga" class="fa-stack circle-link">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>

        <a  title="Vist our twitter for news" href="https://x.com/myscbw" class="fa-stack circle-link">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>

        <a  title="send us mail" href="mailto:mygapro@gov.bw" class="fa-stack circle-link">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse "></i>
        </a>




    </div>
</div>