#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Popup centered inside overlay */
.popup {
    background: white;
    border-radius: 10px;
    max-width: 90%;
    width: 80vw;
}